{% extends 'cms/default/layout.html' %}
{% from 'cms/default/navbar.html' import render_navbar %}
{% block title %}{{ title }}{% endblock %}
{% block navbar %}
    {# navigation #}
    {{ render_navbar() }}
{% endblock %}
{% block content %}
<div class="content">
<h1 class="title">{{ title }}</h1>
    {% if pages %}
        <ol>
        {% for page in pages %}
            <li><a href="{{ page.url() }}">{{ page }}</a></li>
        {% endfor %}
        </ol>
    {% else %}
        <p>Get busy and create some content!</p>
    {% endif %}
    <div>
        <a href="{{url_for('page_edit')}}">Create a page</a>
    </div>
</div>
{% endblock %}