{% extends 'cms/default/layout.html' %}
{% from 'cms/default/navbar.html' import render_navbar %}
{% block title%}{{user.canonical_name()}} profile{% endblock %}
{% block navbar %}
    {# navigation #}
    {{ render_navbar() }}
{% endblock %}
{% block content %}
<div class="content">
<h1 class="title">Welcome {{ user.canonical_name() }}</h1>
<h2 class="subtitle">Available Actions</h2>
<ul>
{% if session['is_admin'] %}
<li><a href="{{ url_for('admin.index') }}">Admin interface</a></li>
{% endif %}
<li><a href="{{ url_for('user_pages', user_id=session['user_id']) }}">Show your pages</a></li>
<li><a href="{{ url_for('page_edit') }}">Create a page</a></li>
<li><a href="">Delete a page</a></li>
<li><a href="">Something else</a></li>
</ul>
<p>
Duis suscipit malesuada volutpat. Sed dignissim iaculis augue. Mauris nec nisi sit amet lectus mattis porttitor sagittis a libero.
Aliquam tristique feugiat eleifend. Sed id libero vehicula, tincidunt arcu eu, tempus purus.
Fusce sollicitudin rutrum ante, nec finibus ex iaculis a. Vivamus sed efficitur magna, at mattis magna. Nam ut justo nisi.
</p>
<p>
Maecenas blandit velit nec nisi consectetur, in suscipit urna sodales. Donec vulputate eros metus, ac vestibulum justo porta quis.
Nam at porta ante. Duis vitae ante vel tortor suscipit venenatis. Fusce pellentesque neque tempor nulla ultricies,
elementum ultrices libero rhoncus. Fusce commodo ultrices massa, eget imperdiet ex faucibus ut.
Etiam ut dolor a est viverra sagittis. Phasellus eleifend purus lacus, at commodo neque facilisis ac.
Vivamus ex ipsum, accumsan eu posuere id, lobortis eget massa.
</p>
</div>
{% endblock %}